.campoCard {
    border: 1px solid gray;
    padding: 0 5px 0 5px;
    margin-bottom: 5px;
}
.quantity {
    font-weight: bold;
}

.vencida {
    background-color: rgb(192, 36, 36);
    color: #FFF;
}

.false {
    background-color: rgb(0, 119, 230);
    color:#FFF;
}

.flecha{
    height: 30px;
    width: 20px;
}

.botonFlecha {
    background-color: transparent;
    border: none;
}

.botonFlecha:hover {
    border:none;
    border-radius: 50%;
    background-color: red;
}

.btn-success{
    border-radius: 0;
    background-color: blue;
}
.btn-success:hover {
    background-color: rgb(0, 0, 133);
}