.campoCard {
    background-color: rgb(250, 250, 250);
    border: 2px solid gray;
    padding: 0 5px 0 5px;
    margin: 2px;
    border-radius: 0px;
}
.quantity {
    font-weight: bold;
}
#buttonCard:active {
    background-color: transparent;
}

.colorFont{
    color: darkslategray;
}
.observaciones{
    display: flex;
    flex-wrap: wrap;
    color: darkslategray;
    margin: 0;
    padding: 0;
}

.cardHeader{
    padding: 0;
    height: 45px;
}
.vencida {
    height: 30px;
    border:  red 2px solid;
    border-radius: 50%;
}
.tarjeta {
    background-color:  rgb(255, 255, 255);
    border-radius: 0px;
}

.false {
    background-color: rgb(0, 119, 230);
    color:#FFF;
}

.flecha{
    height: 30px;
    width: 20px;
    margin-right: 5px;
}

.botonFlecha {
    background-color: transparent;
    border: none;
    scroll-margin-top: 100px
}

.botonFlecha:hover {
    border:none;
    border-radius: 0%;
    background-color: transparent;
    cursor: pointer;
}
.btn-info{
    border-radius: 0;
}
.btn-danger{
    border-radius: 0;
}
.btn-success{
    border-radius: 0;
    background-color: rgb(0, 134, 139);
}
.btn-success:hover {
    background-color: rgb(41, 77, 0);
}

input {
    background-color: transparent;
}
.swal2-radio{
    flex-direction: column;
}

.redPoint{
    background-color: red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.orangePoint{
    background-color: orange;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.greenPoint{
    background-color: green;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.prioridad{
    color:darkslategray;
    margin-right: 10px;
}
.modal-dialog {
    max-width: 85%;
}

.campoCantidad {
    background-color: #fff;
    border-radius: 5px;
    height: 35px;
}
.confirmacion {
    font-weight: 100;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    --bs-table-striped-bg: rgb(233, 218, 200);
    --bs-table-hover-bg: rgba(255, 229, 80, 0.507);
    color: white;
}

.table-striped > tbody > tr:nth-of-type(even) {
    --bs-table-accent-bg: antiquewhite;
    --bs-table-hover-bg: rgba(255, 229, 80, 0.507);
    color:white;
}