.navBarItem {
    text-decoration: none;
}
dropdown-menu.show {
    display: flex;
    flex-direction: column;
}
.dropdown-menu {
    --bs-dropdown-min-width: 15rem;
}

a {
    text-decoration: none;
}
.barra {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.barra a{
    color: darkblue;
}