header{
    /*background-color: #051A38;*/
    background-color: rgb(37, 40, 59);
    color: #fff;
    height: 25vh;
    position: sticky;
    top: -32vh;
    z-index: 1;
}
.avatar {
    border-radius: 50%;
    height:5em;
}
.button-logout{
    height: 25%;
}
.titulo{
    font-size: 50px;
    -webkit-text-stroke: 0.5px gold;
}