.ascDesc{
    background-color: rgb(37, 40, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 35px;
}

#searchBar{
    height:35px;
    border: 2px solid rgb(95, 95, 95);
    background-color: rgb(255, 255, 255);
    color: darkslategray;
}
.logoGoogle {
    width: 50px;
}
.btn-info{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(69, 75, 110);;/*#2C4770;*/
    color: #fff;
}
.btn-info:hover{
    background-color: #4C668C;
}