@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: roboto;
}

main{
    background-color: rgb(74, 114, 114);
    color:white;
}
hr {
    background-color: white;
    opacity: none;
    margin:0;
    padding:0;
}

input{
    height: 50px;
    border-radius: 15px;
    padding-left: 25px;
}
