main{
    background-color: rgb(74, 114, 114);
    color:white;
}
hr {
    background-color: white;
    opacity: none;
    margin:0;
    padding:0;
}
.session {
    height: 40px;
}

.scelto{
    border-radius: 5px;
    background-color: lightblue;
    height: 40px;
}
.login{
    padding: 15px;
    width: 75%;
    border: solid 2px lightblue;
    border-radius: 15px;
}
input{
    height: 50px;
    border-radius: 15px;
    padding-left: 25px;
}
.sessione{
    margin:20px;
    border: 2px solid lightblue;
    border-radius: 15px;
}
.containerTable{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin:auto;
}
.tabla {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.table{
    --bs-table-accent-bg: lightblue;
    --bs-table-striped-bg: darkgray;
    --bs-table-hover-bg: rgb(97, 96, 96);
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
}
@media (min-width:600px){
    .login{
        width:60%;
    }
    .tabla{
        flex-direction: row;
    }
}

@media (min-width:1020px){
    .login{
        width: 40%;
    }
} 